<div
  class="fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-35"
>
  <div class="relative max-h-full w-full max-w-md">
    <form class="relative rounded-lg bg-gray-800 shadow">
      <!-- Modal header -->
      <div class="flex items-start justify-between rounded-t border-b p-4">
        <h3 class="text-xl font-semibold text-white">Edit User Account</h3>
        <button
          (click)="closeModal()"
          type="button"
          class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-lg text-gray-400 hover:bg-gray-200 hover:text-white"
        >
          <fa-icon [icon]="faClose" size="lg"></fa-icon>
        </button>
      </div>

      <!-- Modal body -->
      <div class="space-y-4 p-6">
        <div class="grid grid-cols-2 gap-6">
          <div class="col-span-6 sm:col-span-3">
            <label
              for="name"
              class="mb-2 block text-left text-lg font-medium text-white"
              >Name</label
            >
            <input
              type="text"
              name="name"
              id="name"
              class="block w-full rounded-lg border border-customColor bg-gray-800 p-2.5 text-lg text-white shadow-sm"
              placeholder="."
              required
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label
              for="email"
              class="mb-2 block text-left text-lg font-medium text-white"
              >Email</label
            >
            <input
              type="email"
              name="email"
              id="email"
              class="block w-full rounded-lg border border-customColor bg-gray-800 p-2.5 text-lg text-white shadow-sm focus:border-blue-600 focus:ring-blue-600"
              placeholder="."
              required
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label
              for="phone-number"
              class="mb-2 block text-left text-lg font-medium text-white"
              >Phone Number</label
            >
            <input
              type="text"
              name="phone-number"
              id="phone-number"
              class="block w-full rounded-lg border border-customColor bg-gray-800 p-2.5 text-lg text-white shadow-sm focus:border-blue-600 focus:ring-blue-600"
              placeholder="."
              required
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label
              for="role"
              class="mb-2 block text-left text-lg font-medium text-white"
              >Role</label
            >
            <input
              type="text"
              name="role"
              id="role"
              class="block w-full rounded-lg border border-customColor bg-gray-800 p-2.5 text-lg text-white shadow-sm focus:border-blue-600 focus:ring-blue-600"
              placeholder="."
              required
            />
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div
        class="flex items-center justify-end rounded-b border-t border-gray-200 p-6"
      >

      <div class="flex items-center rounded-b border-t border-gray-200 p-6">
        <button
          type="submit"
          class="rounded-lg bg-customColor px-5 py-2.5 text-center text-lg font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring-4"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
