<div class="container">
  <div class="md:flex">
    <ul
      class="flex-column space-y text-md mb-4 space-y-4 font-medium text-gray-500 md:mb-0 md:me-4"
    >
      <li>
        <a
          routerLink="/settings/device"
          routerLinkActive="bg-customColor text-white"
          class="inline-flex w-full items-center rounded-lg px-4 py-3"
        >
          Device
        </a>
      </li>
      <li>
        <a
          routerLink="/settings/payment"
          routerLinkActive="bg-customColor text-white"
          class="inline-flex w-full items-center rounded-lg px-4 py-3"
        >
          Payment
        </a>
      </li>
      <li>
        <a
          routerLink="/settings/account"
          routerLinkActive="bg-customColor text-white"
          class="inline-flex w-full items-center rounded-lg px-4 py-3"
        >
          Account
        </a>
      </li>
      <li>
        <a
          routerLink="/settings/member"
          routerLinkActive="bg-customColor text-white"
          class="inline-flex w-full items-center rounded-lg px-4 py-3"
        >
          Member
        </a>
      </li>
    </ul>
    <div class="w-full rounded-lg bg-gray-800 p-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
