<!------------------------Site Settings Tables--------------------->
<h3 class="mb-2 text-lg font-bold text-white">Site Settings</h3>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <div class="min-w-full">
    <table class="w-full bg-gray-800 text-lg text-white">
      <thead class="text-md border-b uppercase text-customColor">
        <tr>
          <!-- <th scope="col" class="px-6 py-3">ID</th> -->
          <th scope="col" class="px-6 py-3">Remark</th>
          <th scope="col" class="px-6 py-3">Company</th>
          <th scope="col" class="px-6 py-3">Email</th>
          <th scope="col" class="px-6 py-3">
            Total <br />
            Barrier
          </th>
          <th scope="col" class="px-6 py-3">Payment</th>
          <th scope="col" class="px-6 py-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of results" class="border-b">
          <!-- <td class="px-6 py-4">{{ item.id }}</td> -->
          <td class="px-6 py-4">01LG0203</td>
          <td class="px-6 py-4">{{ item.name }}</td>
          <td class="px-6 py-4">{{ item.email }}</td>
          <td class="px-6 py-4">18</td>
          <td class="px-6 py-4">RM 2 per hour</td>
          <td class="px-6 py-4 text-right">
            <!-- Button to open the modal -->
            <button
              class="font-lg rounded-full bg-customColor px-3 py-2 text-center text-xs font-bold text-white"
              (click)="openSiteModal(item)"
            >
              <fa-icon [icon]="faPen" size="lg"></fa-icon>
            </button>

            <!-- Modal -->
            <app-site-modal
              *ngIf="isModalOpen"
              [item]="selectedSite"
              (close)="closeSiteModal()"
              (submit)="onSubmit($event)"
            ></app-site-modal>

            <!-- Delete button -->
            <button
              (click)="deleteUser(item.id)"
              class="font-lg ml-2 rounded-full bg-red-500 px-3 py-2 text-center text-xs font-bold text-white"
            >
              <fa-icon [icon]="faTrash" size="lg"></fa-icon>
            </button>
          </td>
        </tr>
        <!-- More rows here -->
      </tbody>
    </table>
  </div>
  <!-----Pagination------>
  <nav
    class="flex items-center justify-between bg-gray-800 p-4 pt-4"
    aria-label="Table navigation"
  >
    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
      Showing
      <span class="text-white">1-10</span>
      of
      <span class="text-white">1000</span>
    </span>
    <ul class="inline-flex h-8 -space-x-px text-sm rtl:space-x-reverse">
      <li>
        <a
          href="#"
          class="ms-0 flex h-8 items-center justify-center rounded-s-lg border border-gray-300 px-3 leading-tight text-gray-500 hover:bg-customColor hover:text-white"
          >Previous</a
        >
      </li>
      <li>
        <a
          href="#"
          class="flex h-8 items-center justify-center border border-gray-300 px-3 leading-tight text-gray-500 hover:bg-customColor hover:text-white"
          >1</a
        >
      </li>
      <li>
        <a
          href="#"
          class="flex h-8 items-center justify-center rounded-e-lg border border-gray-300 px-3 leading-tight text-gray-500 hover:bg-customColor hover:text-white"
          >Next</a
        >
      </li>
    </ul>
  </nav>
</div>
