<div class="container">
  <div class="relative overflow-x-auto"></div>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <caption
      class="flex caption-top items-center justify-between p-3 text-left text-lg font-semibold rtl:text-right"
    >
      <span>Live Data Record</span>
    </caption>
    <table
      class="text-md w-full text-left text-gray-500 dark:text-gray-400 rtl:text-right"
    >
      <thead
        class="text-md bg-gray-100text-gray-100 text-customColor dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Plate No.</th>
          <th scope="col" class="px-6 py-3">Parking Bay</th>
          <th scope="col" class="px-6 py-3">Entry</th>
          <th scope="col" class="px-6 py-3">Exit</th>
          <th scope="col" class="px-6 py-3">Duration</th>
          <th scope="col" class="px-6 py-3">Fees</th>
          <th scope="col" class="px-6 py-3">Status</th>
          <th scope="col" class="px-6 py-3">Users</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="border-b hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
        >
          <td
            class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"
          >
            ABC123
          </td>
          <td class="px-6 py-4">B100</td>
          <td class="px-6 py-4">14:20</td>
          <td class="px-6 py-4">15:20</td>
          <td class="px-6 py-4">1 Hour</td>
          <td class="px-6 py-4">RM 2.00</td>
          <td class="px-6 py-4">
            <span
              class="me-2 rounded border border-green-400 bg-green-300 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-gray-700 dark:text-green-400"
              >Paid</span
            >
          </td>
          <td class="px-6 py-4">Member</td>
        </tr>
        <tr
          class="border-b hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
        >
          <td
            class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"
          >
            ABC123
          </td>
          <td class="px-6 py-4">B100</td>
          <td class="px-6 py-4">14:20</td>
          <td class="px-6 py-4">15:20</td>
          <td class="px-6 py-4">1 Hour</td>
          <td class="px-6 py-4">RM 2.00</td>
          <td class="px-6 py-4">
            <span
              class="me-2 rounded border border-green-400 bg-green-300 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-gray-700 dark:text-green-400"
              >Paid</span
            >
          </td>
          <td class="px-6 py-4">Member</td>
        </tr>
        <tr
          class="border-b hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
        >
          <td
            class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"
          >
            ABC123
          </td>
          <td class="px-6 py-4">B100</td>
          <td class="px-6 py-4">14:20</td>
          <td class="px-6 py-4">15:20</td>
          <td class="px-6 py-4">1 Hour</td>
          <td class="px-6 py-4">RM 2.00</td>
          <td class="px-6 py-4">
            <span
              class="me-2 rounded border border-red-400 bg-red-100 px-2.5 py-0.5 text-xs font-medium text-red-800 dark:bg-gray-700 dark:text-red-400"
              >Unpaid</span
            >
          </td>
          <td class="px-6 py-4">Member</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
