<div class="flex min-h-full flex-grow flex-col bg-gray-900 text-white">
  <div class="flex items-center justify-center py-4">
    <img
      src="assets/images/SPark_Logo_wht.png"
      alt="Logo"
      class="h-auto w-12"
    />
  </div>
  <nav class="flex-1 space-y-2 px-2">
    <a
      href="#"
      class="hover:bg-custom-hover flex items-center rounded-lg px-2 py-2"
      routerLink="/dashboard"
      routerLinkActive="bg-customColor text-white"
    >
      <fa-icon [icon]="faGaugeSimpleHigh" size="lg" class="mr-3"></fa-icon>
      <span class="text-lg">Dashboard</span>
    </a>

    <a
      href="#"
      class="hover:bg-custom-hover flex items-center rounded-lg px-2 py-2"
      routerLink="/live-data"
      routerLinkActive="bg-customColor text-white"
    >
      <fa-icon [icon]="faChartLine" size="lg" class="mr-3"></fa-icon>
      <span class="text-lg">Live Data</span>
    </a>
    <a
      href="#"
      class="hover:bg-custom-hover flex items-center rounded-lg px-2 py-2"
      routerLink="/report"
      routerLinkActive="bg-customColor text-white"
    >
      <fa-icon [icon]="faFile" size="lg" class="mr-3"></fa-icon>
      <span class="text-lg">Report</span>
    </a>
    <a
      href="#"
      class="hover:bg-custom-hover flex items-center rounded-lg px-2 py-2"
      routerLink="/settings"
      routerLinkActive="bg-customColor text-white"
    >
      <fa-icon [icon]="faUser" size="lg" class="mr-3"></fa-icon>
      <span class="text-lg">Settings</span>
    </a>
    <a
      href="#"
      class="hover:bg-custom-hover flex items-center rounded-lg px-2 py-2"
      routerLink="/help"
      routerLinkActive="bg-customColor text-white"
    >
      <fa-icon [icon]="faCircleQuestion" size="lg" class="mr-3"></fa-icon>
      <span class="text-lg">Help</span>
    </a>
  </nav>
</div>
