:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1f2937;
  color: white;
  transition: width 0.3s ease-in-out;
}

nav a {
  @apply flex items-center rounded-lg px-2 py-2 text-sm font-medium hover:bg-gray-700;
}
