<div class="flex h-screen w-full bg-gray-800">
  <div
    class="relative hidden w-1/2 items-center bg-gray-500 bg-cover bg-no-repeat lg:flex"
    [ngStyle]="{ 'background-image': 'url(' + backgroundImageUrl + ')' }"
  >
    <div class="absolute inset-0 z-0 bg-black opacity-60"></div>
    <div class="z-10 w-full px-24 text-white">
      <h1 class="text-left text-5xl font-bold tracking-wide">
        Reserve Parking Admin Dashboard
      </h1>
    </div>
    <div
      class="absolute bottom-0 left-0 right-0 flex justify-center space-x-4 p-4 text-center"
    >
      <span>
        <a href="https://www.bigtac.com.my" target="_blank">
          <fa-icon [icon]="faGlobe" size="lg" class="text-white"></fa-icon>
        </a>
      </span>

      <span>
        <a href="https://wa.me/60193455891" target="_blank">
          <fa-icon
            [icon]="faMobileScreen"
            size="lg"
            class="text-white"
          ></fa-icon
        ></a>
      </span>
      <span>
        <a href="mailto:admin@bigtac.com.my">
          <fa-icon [icon]="faEnvelope" size="lg" class="text-white"></fa-icon>
        </a>
      </span>
    </div>
  </div>

  <div
    class="relative flex w-full items-center justify-center bg-gray-900 text-white lg:w-1/2"
  >
    <div class="w-full max-w-md space-y-6 rounded-lg bg-gray-800 p-8 shadow-lg">
      <h2 class="text-2xl font-bold">Forgot Password</h2>
      <form (submit)="submitForgotPassword()" method="POST">
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium">Email</label>
          <input
            [(ngModel)]="email"
            type="email"
            id="email"
            name="email"
            required
            class="mt-1 w-full rounded border border-gray-600 bg-gray-700 p-2 text-white"
          />
        </div>
        <div class="flex justify-center">
          <button
            type="submit"
            class="btn-custom-2 px-4 py-2 text-center font-bold text-white"
          >
            <span>Reset Password</span>
          </button>
        </div>
      </form>
      <div class="mt-4 text-center">
        <a [routerLink]="['/login']" class="text-customColor hover:text-white"
          >Back to Login</a
        >
      </div>
    </div>
  </div>
</div>
