<div class="container mx-auto px-4">
  <!-- Info Boxes (1-4) in a single row -->
  <div class="grid grid-cols-4 gap-4">
    <!-- Info Box 1 -->
    <div
      class="info-box flex transform items-center rounded-lg bg-[#4c9aa0] p-4 shadow-md transition-transform hover:scale-105 hover:bg-white hover:text-[#4c9aa0]"
    >
      <div
        class="custom-bg hover:text-dark mr-4 rounded-full bg-white p-3 text-[#4c9aa0] transition-colors hover:bg-[#4c9aa0]"
      >
        <fa-icon
          [icon]="faCar"
          size="lg"
          class="text-[#4c9aa0] transition-colors hover:text-white"
        ></fa-icon>
      </div>
      <div>
        <h3 class="text-lg font-semibold">Total Reserved</h3>
        <p class="text-2xl font-bold">28</p>
      </div>
    </div>

    <!-- Info Box 2 -->
    <div
      class="info-box flex transform items-center rounded-lg bg-[#4c9aa0] p-4 shadow-md transition-transform hover:scale-105 hover:bg-white hover:text-[#4c9aa0]"
    >
      <div
        class="custom-bg hover:text-dark mr-4 rounded-full bg-white p-3 text-[#4c9aa0] transition-colors hover:bg-[#4c9aa0]"
      >
        <fa-icon
          [icon]="faParking"
          size="lg"
          class="text-[#4c9aa0] transition-colors hover:text-white"
        ></fa-icon>
      </div>
      <div>
        <h3 class="text-lg font-semibold">Available Parking</h3>
        <p class="text-2xl font-bold">40/61</p>
      </div>
    </div>

    <!-- Info Box 3 -->
    <div
      class="info-box flex transform items-center rounded-lg bg-[#4c9aa0] p-4 shadow-md transition-transform hover:scale-105 hover:bg-white hover:text-[#4c9aa0]"
    >
      <div
        class="custom-bg hover:text-dark mr-4 rounded-full bg-white p-3 text-[#4c9aa0] transition-colors hover:bg-[#4c9aa0]"
      >
        <fa-icon
          [icon]="faAddressCard"
          size="lg"
          class="text-[#4c9aa0] transition-colors hover:text-white"
        ></fa-icon>
      </div>
      <div>
        <h3 class="text-lg font-semibold">Members</h3>
        <p class="text-2xl font-bold">100</p>
      </div>
    </div>

    <!-- Info Box 4 -->
    <div
      class="info-box flex transform items-center rounded-lg bg-[#4c9aa0] p-4 shadow-md transition-transform hover:scale-105 hover:bg-white hover:text-[#4c9aa0]"
    >
      <div
        class="custom-bg hover:text-dark mr-4 rounded-full bg-white p-3 text-[#4c9aa0] transition-colors hover:bg-[#4c9aa0]"
      >
        <fa-icon
          [icon]="faUsers"
          size="lg"
          class="text-[#4c9aa0] transition-colors hover:text-white"
        ></fa-icon>
      </div>
      <div>
        <h3 class="text-lg font-semibold">Guests</h3>
        <p class="text-2xl font-bold">120</p>
      </div>
    </div>
  </div>

  <!-- Row for Charts -->
  <div class="mt-6 grid grid-cols-1 gap-4 pt-8 md:grid-cols-2">
    <!-- Bar Chart -->
    <div>
      <h3 class="text-xl font-semibold">Weekly Parking Reserved Data</h3>
      <ng-container *ngIf="isBrowser">
        <canvas
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [type]="'bar'"
        >
        </canvas>
      </ng-container>
    </div>

    <!-- Line Chart -->
    <div>
      <h3 class="text-xl font-semibold">Weekly Guest and Members Data</h3>
      <ng-container *ngIf="isBrowser">
        <canvas
          baseChart
          [data]="lineChartData"
          [options]="lineChartOptions"
          [plugins]="lineChartPlugins"
          [legend]="true"
          [type]="'line'"
        >
        </canvas>
      </ng-container>
    </div>
  </div>
</div>
