<div class="container mx-auto">
  <div class="flex flex-col">
    <div class="w-full rounded-lg bg-gray-700 p-6">
      <h3 class="mb-2 pb-2 text-lg font-bold text-white">Report Summary</h3>
      <div
        class="grid grid-cols-1 gap-4 text-white sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
      >
        <div
          class="info-box flex transform items-center rounded-lg border-2 border-customColor bg-gray-800 p-4 shadow-md transition-transform hover:scale-105 hover:bg-customColor"
        >
          <div
            class="mr-4 rounded-full bg-customColor p-3 text-white transition-colors hover:bg-gray-800"
          >
            <fa-icon
              [icon]="faCar"
              size="lg"
              class="transition-colors hover:text-white"
            ></fa-icon>
          </div>
          <div>
            <h3 class="text-lg font-semibold">Total Reserved</h3>
            <p class="text-2xl">28</p>
          </div>
        </div>
        <div
          class="info-box flex transform items-center rounded-lg border-2 border-customColor bg-gray-800 p-4 shadow-md transition-transform hover:scale-105 hover:bg-customColor"
        >
          <div
            class="mr-4 rounded-full bg-customColor p-3 text-white transition-colors hover:bg-gray-800"
          >
            <fa-icon
              [icon]="faParking"
              size="lg"
              class="transition-colors hover:text-white"
            ></fa-icon>
          </div>
          <div>
            <h3 class="text-lg font-semibold">Available Parking</h3>
            <p class="text-2xl">40/61</p>
          </div>
        </div>
        <div
          class="info-box flex transform items-center rounded-lg border-2 border-customColor bg-gray-800 p-4 shadow-md transition-transform hover:scale-105 hover:bg-customColor"
        >
          <div
            class="mr-4 rounded-full bg-customColor p-3 text-white transition-colors hover:bg-gray-800"
          >
            <fa-icon
              [icon]="faAddressCard"
              size="lg"
              class="transition-colors hover:text-white"
            ></fa-icon>
          </div>
          <div>
            <h3 class="text-lg font-semibold">Members</h3>
            <p class="text-2xl">100</p>
          </div>
        </div>
        <div
          class="info-box flex transform items-center rounded-lg border-2 border-customColor bg-gray-800 p-4 shadow-md transition-transform hover:scale-105 hover:bg-customColor"
        >
          <div
            class="mr-4 rounded-full bg-customColor p-3 text-white transition-colors hover:bg-gray-800"
          >
            <fa-icon
              [icon]="faUsers"
              size="lg"
              class="transition-colors hover:text-white"
            ></fa-icon>
          </div>
          <div>
            <h3 class="text-lg font-semibold">Guests</h3>
            <p class="text-2xl">120</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="mt-6 grid grid-cols-1 gap-4 pt-8 md:grid-cols-2">
      <!-- Bar Chart -->
      <div class="w-full rounded-lg bg-gray-700 p-6">
        <h3 class="mb-2 pb-2 text-lg font-bold text-white">
          Weekly Parking Reserved Data
        </h3>
        <ng-container *ngIf="isBrowser">
          <canvas
            class="text-lg text-white"
            baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'"
          >
          </canvas>
        </ng-container>
<div class="container mx-auto px-4">
  <!-- Info Boxes (1-4) in a single row -->
  <div class="grid grid-cols-4 gap-4">
    <!-- Info Box 1 -->
    <div
      class="info-box flex transform items-center rounded-lg bg-customColor p-4 shadow-md transition-transform hover:scale-105 hover:bg-white hover:text-customColor"
    >
      <div
        class="mr-4 rounded-full bg-white p-3 text-[#4c9aa0] transition-colors hover:bg-customColor"
      >
        <fa-icon
          [icon]="faCar"
          size="lg"
          class="text-[#4c9aa0] transition-colors hover:text-white"
        ></fa-icon>
      </div>
      <div>
        <h3 class="text-lg font-semibold">Total Reserved</h3>
        <p class="text-2xl font-bold">28</p>
      </div>
    </div>

    <!-- Info Box 2 -->
    <div
      class="info-box flex transform items-center rounded-lg bg-customColor p-4 shadow-md transition-transform hover:scale-105 hover:bg-white hover:text-[#4c9aa0]"
    >
      <div
        class="custom-bg hover:text-dark mr-4 rounded-full bg-white p-3 text-[#4c9aa0] transition-colors hover:bg-customColor"
      >
        <fa-icon
          [icon]="faParking"
          size="lg"
          class="text-[#4c9aa0] transition-colors hover:text-white"
        ></fa-icon>
      </div>
      <div>
        <h3 class="text-lg font-semibold">Available Parking</h3>
        <p class="text-2xl font-bold">40/61</p>
      </div>
    </div>

    <!-- Info Box 3 -->
    <div
      class="info-box flex transform items-center rounded-lg bg-customColor p-4 shadow-md transition-transform hover:scale-105 hover:bg-white hover:text-[#4c9aa0]"
    >
      <div
        class="custom-bg hover:text-dark mr-4 rounded-full bg-white p-3 text-[#4c9aa0] transition-colors hover:bg-customColor"
      >
        <fa-icon
          [icon]="faAddressCard"
          size="lg"
          class="text-[#4c9aa0] transition-colors hover:text-white"
        ></fa-icon>
      </div>
      <div>
        <h3 class="text-lg font-semibold">Members</h3>
        <p class="text-2xl font-bold">100</p>
      </div>

      <!-- Line Chart -->
      <div class="w-full rounded-lg bg-gray-700 p-6">
        <h3 class="mb-2 pb-2 text-lg font-bold text-white">
          Weekly Guest and Members Data
        </h3>
        <ng-container *ngIf="isBrowser">
          <canvas
            baseChart
            [data]="lineChartData"
            [options]="lineChartOptions"
            [plugins]="lineChartPlugins"
            [legend]="true"
            [type]="'line'"
          >
          </canvas>
        </ng-container>
    <!-- Info Box 4 -->
    <div
      class="info-box flex transform items-center rounded-lg bg-customColor p-4 shadow-md transition-transform hover:scale-105 hover:bg-white hover:text-[#4c9aa0]"
    >
      <div
        class="custom-bg hover:text-dark mr-4 rounded-full bg-white p-3 text-[#4c9aa0] transition-colors hover:bg-customColor"
      >
        <fa-icon
          [icon]="faUsers"
          size="lg"
          class="text-[#4c9aa0] transition-colors hover:text-white"
        ></fa-icon>
      </div>
      <div>
        <h3 class="text-lg font-semibold">Guests</h3>
        <p class="text-2xl font-bold">120</p>
      </div>
    </div>
  </div>
</div>
