<nav class="flex items-center justify-between bg-gray-800 px-4 py-2 text-white">
  <div class="ml-4 text-lg font-bold">Reserve Admin Dashboard</div>
  <div class="ml-auto flex items-center space-x-4">
    <div class="relative">
      <button
        class="btn-custom position-relative"
        type="button"
        id="notificationDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <fa-icon [icon]="faBell"></fa-icon>
        <span
          class="position-absolute start-100 translate-middle bg-danger border-light rounded-circle top-0 border p-1"
        >
          <span class="visually-hidden">New alerts</span>
        </span>
      </button>
      <ul
        class="dropdown-menu dropdown-menu-dark"
        aria-labelledby="notificationDropdown"
      >
        <li><a href="#" class="dropdown-item">Notification 1</a></li>
        <li><a href="#" class="dropdown-item">Notification 2</a></li>
        <li><a href="#" class="dropdown-item">Notification 3</a></li>
      </ul>
    </div>
    <div class="relative">
      <button
        class="btn-custom dropdown-toggle"
        type="button"
        id="userDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Mahkota Parade
      </button>
      <ul
        class="dropdown-menu dropdown-menu-dark"
        aria-labelledby="userDropdown"
      >
        <li>
          <a
            [routerLink]="['/location']"
            class="dropdown-item focus:outline-none focus:ring focus:ring-gray-300 active:bg-customColor"
            >Change Location</a
          >
        </li>

        <li>
          <a
            (click)="logOut()"
            class="dropdown-item focus:outline-none focus:ring focus:ring-gray-300 active:bg-customColor"
            >Log Out</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
